@model List<Colmena>
@{
    ViewData["Title"] = "Administrar Colmenas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<h1>Administrar Colmenas</h1>

<div class="cards-container">
    <a class="card card-personalizada card-link button" asp-controller="Home" asp-action="Index">Volver al Home</a>
    <a class="card card-personalizada card-link button" asp-action="ColmenaCrear">Nueva Colmena</a>
    <a class="card card-personalizada card-link button" asp-action="ColmenaResumen">Graficos Colmenas</a>
</div>
<div class="center">
    <h6>Listado de Colmenas</h6>
</div>
<div class="row justify-content-evenly mt-3">
    <div style="overflow:auto;">
        <table class="table" >
            <thead>
                <tr>
                    <th>Número de identificación</th>
                    <th>Fecha ingreso</th>
                    <th>Tipo Colmena</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.numIdentificador
                        </td>
                        <td>
                            @item.FechaIngreso
                        </td>
                        <td>
                            @item.TipoColmena
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <a href="@Url.Action("ColmenaEditar","Colmena", new { id = item.Id})"
                                   class="btn"
                                   style="background: none; border: none; padding: 0;">
                                    <i class="fa-solid fa-pen-to-square fa-lg" style="color: #0b5c13;"></i>
                                </a>
                                <form asp-action="ColmenaBorrar"
                                      asp-controller="Colmena"
                                      asp-route-colmenaId="@item.Id"
                                      method="post"
                                      onsubmit="return confirm('Está seguro de querer eliminar esta colmena?');"
                                      style="margin: 0; padding: 0;">
                                    <input type="hidden" asp-for="@item.Id" />
                                    <button type="submit"
                                            class="btn"
                                            style="background: none; border: none; padding: 0;">
                                        <i class="fa-solid fa-trash fa-lg" style="color: #920a0a;"></i>
                                    </button>
                                </form>
                                <a asp-controller="InformacionColmena" asp-action="InformacionColmenaIndex" asp-route-colmenaId="@item.Id">Detalle</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>

