@model InfoColmenaViewModel
@{
}
@section Scripts {
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=TuAPIKeyAqui&callback=loadMapScenario' async defer></script>
}
<script type='text/javascript'>
    function loadMapScenario() {
        var map = new Microsoft.Maps.Map('#bingMap', {
            // Configuración inicial del mapa. Puedes ajustar a tus necesidades
            center: new Microsoft.Maps.Location(0, 0), // Reemplaza con una ubicación predeterminada si es necesario
            zoom: 10
        });

        // Asumiendo que tienes latitud y longitud en tu modelo
        var location = new Microsoft.Maps.Location(@Model.Latitude, @Model.Longitude);

        // Agrega un marcador en la ubicación de la colmena
        var pin = new Microsoft.Maps.Pushpin(location);
        map.entities.push(pin);

        // Centra el mapa en la ubicación de la colmena
        map.setView({ center: location });
    }
</script>


<div>
    <h1>Información correspondiente a la ultima inspección de la Colmena</h1>
</div>
<div>
    <h1>Informacion Colmena Id: @Model.Id</h1>
</div>
<div>
    <h1>FEcha ultimo Informe Colmena: @Model.FechaInforme</h1>
</div>
<div>
    <h1>Inspector: @Model.Inspector</h1>
</div>
<div>
    <h1>Descripcion Colmena: @Model.Descripcion</h1>
</div>
<div>
    <h1>Ubicacion Colmena: @Model.Ubicacion</h1>
</div>
<div id="bingMap" style="position:relative;width:600px;height:400px;"></div>
<div>
    <h1>Tiempo de vida Colmena: @Model.TiempoVida</h1>
</div>
<div>
    <h1>Estado salud actual Colmena: @Model.EstadoSalud</h1>
</div>
<div>
    <h1>Ultimas Enfermedades colmena:</h1>
</div>
<div class="row justify-content-evenly mt-3">
    <div class="col-md-4">
        @foreach (var item in Model.NombreEnfermedad)
        {
            <div>
                <h6>Nombre enfermedad: @Model.NombreEnfermedad</h6>
            </div>           
        }
    </div>
    <div class="col-md-4">
        @foreach (var item in Model.FechaDeteccionEnfermedad)
        {
            <div>
                <h6>Nombre enfermedad: @Model.FechaRecuperacionEnfermedad</h6>
            </div>
        }
    </div>
    <div class="col-md-4">
        @foreach (var item in Model.FechaRecuperacionEnfermedad)
        {
            <div>
                <h6>Nombre enfermedad: @Model.FechaRecuperacionEnfermedad</h6>
            </div>
        }
    </div>
</div>
