@model List<Colmena>
@{
    ViewData["Title"] = "Administrar Colmenas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<h1>Administrar Colmenas</h1>

<div class="cards-container">
    <a class="card card-personalizada card-link button" asp-controller="Home" asp-action="Index">Volver al Home</a>
    <a class="card card-personalizada card-link button" asp-action="ColmenaCrear">Nueva Colmena</a>
    <a class="card card-personalizada card-link button" asp-action="ColmenaResumen">Graficos Colmenas</a>
</div>
<div class="center">
    <h6>Listado de Colmenas</h6>
</div>
<div class="row justify-content-evenly mt-3">
    <div style="overflow:auto;">
        <table class="table" >
            <thead>
                <tr>
                    <th>Número de identificación</th>
                    <th>Fecha ingreso</th>
                    <th>Tipo Colmena</th>
                    <th>Descripcion</th>
                    <th>ID Ubicación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.numIdentificador
                        </td>
                        <td>
                            @item.FechaIngreso
                        </td>
                        <td>
                            @item.TipoColmena
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            <a asp-action="ColmenaEditar" asp-route-colmenaId="@item.Id">Editar</a>
                            <a onclick="return confirm('¿Eliminar Colmena?')" asp-action="ColmenaBorrar" asp-route-colmenaId="@item.Id">Borrar</a>
                            <a asp-action="ColmenaInfo" asp-route-colmenaId="@item.Id">Detalle</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>

