@model List<EnfermedadColmena>
@{
    ViewData["Title"] = "Enfermedades de la Colmena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Enfermedades que ha tenido la Colmena</h1>

<div>
    <a class="button" asp-controller="Home" asp-action="Index">Volver al Home</a>
</div>
<div>
    <a class="button" asp-action="EnfermedadColmenaCrear">Agregar nueva enfermedad</a>
</div>

<div>
    <h6>Listado de Enfermedades</h6>
</div>
<div class="row justify-content-evenly mt-3">
    <div style="overflow:auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>Id Colmena</th>
                    <th>Nombre Enfermedad</th>
                    <th>Fecha Detección</th>
                    <th>Fecha Recuperación</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.FechaIngreso
                        </td>
                        <td>
                            @item.TipoColmena
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            <a asp-action="ColmenaEditar" asp-route-colmenaId="@item.Id">Editar</a>
                            <a onclick="return confirm('¿Eliminar Colmena?')" asp-action="ColmenaBorrar" asp-route-colmenaId="@item.Id">Borrar</a>
                            <a asp-controller="InformacionColmena" asp-action="InformacionColmenaIndex" asp-route-colmenaId="@item.Id">Detalle</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
