@model List<Rol>
@{
    ViewData["Title"] = "Administrar Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<h1>Administrar Roles</h1>

<div class="cards-container">
    <a class="card card-personalizada card-link button" asp-controller="Home" asp-action="Index">Volver al Home</a>
    <a class="card card-personalizada card-link button" asp-action="RolCrear">Nuevo Rol</a>    
</div>
<div class="center">
    <h6>Listado de Roles</h6>
</div>
<div class="row justify-content-evenly mt-3">
    <div style="overflow:auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>                    
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Nombre
                        </td>                        
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            <div style="display: flex; align-items: center; gap: 10px;">
                                <a href="@Url.Action("RolEditar","Rol", new { id = item.Id})"
                                   class="btn"
                                   style="background: none; border: none; padding: 0;">
                                    <i class="fa-solid fa-pen-to-square fa-lg" style="color: #0b5c13;"></i>
                                </a>
                            <form asp-controller="Rol"
                                  asp-action="RolBorrar"
                                  method="post"
                                  onsubmit="return confirm('Está seguro de querer eliminar este rol?');"
                                  style="margin: 0; padding: 0;">
                              <input type="hidden" name="id" value="@item.Id" />
                              <button type="submit"
                                      class="btn"
                                      style="background: none; border: none; padding: 0;">
                                  <i class="fa-solid fa-trash fa-lg" style="color: #920a0a;"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
