@model List<Tarea>
@{
    ViewData["Title"] = "Administrar Tareas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/css/usuarios.css" rel="stylesheet" />
    @section Scripts {
        <script src="/js/tareas.js"></script>
    }
</head>

<h1>Administrar Tareas</h1>

<div>
    <a class="button" asp-controller="Home" asp-action="Index">Volver al Home</a>
</div>
<div>
    <a class="button" asp-action="TareaCrear">Nueva Tarea</a>
</div>

<!-- Botones de navegación y opciones -->
<div class="options-container">
    <div class="cards-container">
        <a class="btn-nav" asp-controller="Home" asp-action="Index">
            <i class="fa-solid fa-house"></i> Volver al Home
        </a>
        <a class="btn-nav" asp-action="TareaCrear">
            <i class="fa-solid fa-user-plus"></i> Crear nueva tarea
        </a>        
    </div>

    <!-- Filtros -->
    <div class="filter-container">
        <div class="filter-group">
            <button class="btn-filter" id="filterDropdown" onclick="toggleFilterDropdown()">
                <i class="fa-solid fa-filter"></i> Filtrar por
            </button>
            <div class="dropdown-content" id="filterOptions">
                <a href="#" onclick="setFilterType('Nombre')">Nombre</a>
                <a href="#" onclick="setFilterType('FechaRealizacion')">Fecha</a>                
            </div>
        </div>
        <input type="text" class="filter-input" id="searchString" placeholder="Buscar..." oninput="filterUsers()" />
    </div>
</div>

<div>
    <h6>Listado de Tareas</h6>
</div>
<div class="row justify-content-evenly mt-3">
    <div style="overflow:auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Fecha Agendada</th>
                    <th>Status</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.FechaRealizacion
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            <a asp-action="TareaEditar" asp-route-id="@item.Id">Editar</a>
                            <a onclick="return confirm('Â¿Eliminar Tarea?')" asp-action="TareaBorrar" asp-route-id="@item.Id">Borrar</a>
                            <a asp-action="TareaInfo" asp-route-id="@item.Id">Detalle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>