@model List<InformacionColmena>
@{
    ViewData["Title"] = "Informes de Colmenas Asociadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Informes de Colmenas asociadas a la Inspeccion:</h1>

<div>
    <a class="button" asp-controller="InformacionColmena" asp-action="InformacionColmenaCrear">Nuevo Informe</a>
</div>

<div>
    <h6>Lista de Infomes</h6>
</div>
<div class="row justify-content-evenly mt-3">
    <div style="overflow:auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Id Colmena</th>
                    <th>Ubicacion</th>
                    <th>Tiempo de Vida</th>
                    <th>Estado de Salud</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.IdColmena
                        </td>
                        <td>
                            @item.UbicacionColmena
                        </td>
                        <td>
                            @item.TiempoVida
                        </td>
                        <td>
                            @item.EstadoSalud
                        </td>
                        <td>
                            <a asp-controller="InformacionColmena" asp-action="InformacionColmenaEditar" asp-route-id="@item.Id">Editar</a>
                            <a onclick="return confirm('¿Eliminar Colmena?')" asp-controller="InformacionColmena" asp-action="InformacionColmenaBorrar" asp-route-id="@item.Id">Borrar</a>
                            <a asp-controller="InformacionColmena" asp-action="InformacionColmenaIndex" asp-route-colmenaId="@item.IdColmena">Detalle</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
